.carousel{
    width: 100%;
    height:100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-top: -4.8rem;
    z-index: -1;
}
.slide{
    position: relative;
    min-width: 100%;
    height: 80%;
    transition: 0.5s;
    overflow: hidden;
}
%btn-styles{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 10%;
    height: 80%;
    background: none;
    border: none;
    outline: none;
    transition: 0.5s;
    cursor:pointer;
    i{
        font-size: 2vw;
    }
    &:hover{
        background: rgba(0, 0, 0, 0.082);
        i{
            font-size: 2vw;
            color: blanchedalmond;
        }
    }
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px !important;
  width: 100px !important;
}
#goLeft{
    @extend %btn-styles;
    position: absolute;
    top: 50%;
    color: #fff;
    padding: 0;
    background: #967d67d3;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    line-height: 0;
    text-align: center;
    font-size: 25px;
    z-index: 99;
    left: 20px;
}

#goRight{
     @extend %btn-styles;
     position: absolute;
     top: 50%;
     color: #fff;
     padding: 0;
     background: #967d67d3;
     height: 50px;
     width: 50px;
     border-radius: 50%;
     -webkit-transition: .3s all ease-in-out;
     -o-transition: .3s all ease-in-out;
     transition: .3s all ease-in-out;
     line-height: 0;
     text-align: center;
     font-size: 25px;
     z-index: 99;
     right: 20px;
}

@media (max-width: 991.98px) {
    #goLeft{
      display: none;
    }
  
    #goRight{
      display: none;
    }
  }